.well { border: 0px;}
body{padding:0px;background:url(../../includes/images/background1.jpg) fixed; background-repeat:no-repeat; background-size:cover; color: white; 
box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.886); width:100%;}

#content{padding:0; height:100%; min-height:200px;background-color: rgba(0,0,0,0.8);}

#main{ height:100%;min-height: 1300px; bottom:0px; }
#main>div{ //min-height:700px;}

#slider{padding:0px; margin:0px auto 0px auto; width:97%; overflow:hidden; height:10%;}

/*java lagay gi size and resize k liye - SHAYAN's work*/
#iframe {margin:0px; height:400px;  width:100%;border:0px;margin-bottom:0px;}

#nav,#navBar,#slider,#main>div,#socialWebLinks,#quickLinks{background-color: rgba(0,0,0,0.4); border:1px solid white;}

#header,#main,#footer {background-color: rgba(0,0,0,0.8); margin: 0px; border-radius: 0px;}

#navBar{margin-top:0px; margin-bottom: 10px; min-height:110px;}

#nav{padding: 5px;}
#nav>ul{padding:0 6% 0 6%; margin-bottom:0px;}
#nav>ul>li{display:inline; margin-right:50px}
#nav>ul>li:last-child{margin-right: 0px;}
#nav>ul>li>a{color:white; font-family: hobo std,"Times New Roman", Times, serif; font-size:20px;}
#nav>ul>li>a:hover{color:brown; text-decoration:none;}
#nav>ul>li>a:active{color:maroon;}	

#footer{ /*position:absolute; */width:inherit; /*bottom:-180px;*/}

#socialWebLinks{ padding:10px; display:block;}

/*Ali have to edit following*/
#text {clear:both; font-size:18px; margin-left:20; margin-right:20;}